.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91.06px;
}

.cover__title {
  margin: 0;
  width: 720px;
  height: 200px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

.cover__subtitle {
  margin: 0;
  align: center;
  padding-top: 32px;
  width: 720px;
  height: 72px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.cover__image {
  margin-top: 64px;
  width: 984px;
  height: 615px;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.50);
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-top: 90px;
  }

  .cover__title {
    width: 530px;
    font-size: 75px;
    line-height: 1.05;
    height: auto;
  }

  .cover__subtitle {
    width: 720px;
    padding-top: 25px;
    font-size: 30px;
    line-height: 1.2;
    height: auto;
  }

  .cover__image {
    margin-top: 30px;
    width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 544px) {
  .cover {
    padding-top: 50px;
  }

  .cover__title {
    width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }

  .cover__subtitle {
    width: 288px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }

  .cover__image {
    margin-top: 40px;
    width: 320px;
    height: 200px;
  }
}