footer {
  padding: 92px 0 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 90px 0 25px;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding: 64px 0 24px; /* 64px arriba y 24px abajo */
  }

  .footer__copyright {
    font-size: 14px; /* Bajamos de 16px a 14px */
  }
}