footer {
  padding: 92px 0 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 88px 0 24px;
  }
}