.header {
  padding: 34px 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__logo {
  width: 254.84px;
  height: 68.94px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }

  .header__logo {
    width: 254px;
    height: 66px;
  }
}