.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 100%;
  overflow-x: hidden;
}