.photo-grid{
  align-self: center;
  padding-top: 118px;

  height: 442px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16;
}

.photo-grid__element{

}