.photo-grid{
  align-self: center;
  padding-top: 118px;

  height: 442px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16;
}

.photo-grid__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 720px;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 16px;
  }
}