.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

.places__item {
  display: grid;
  grid-template-columns: 460px 1fr; 
  grid-template-rows: auto auto auto;
  gap: 48px 37px;
  grid-template-areas:
    "title   website"
    "image   text"
    "button  text";
}

.places__title {
  grid-area: title;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  align-self: end;
}

.places__website {
  grid-area: website;
  align-self: end; 
  justify-self: start;
}

.places__image {
  grid-area: image;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.50);
}

.places__text {
  grid-area: text;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 128px;
  line-height: 1.63; 
}

.places__button {
  grid-area: button;
  align-self: start;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: normal;  
  color: #FFFFFF;
  background-image: linear-gradient(to right,#0278FE, #003A7B);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.places__heading {
  margin: 0 0 8px 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  line-height: normal; 
  letter-spacing: 1.44px; 
  color: #AAAAAA;
  text-transform: uppercase;
}

.places__artist-name {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
}

.places__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
  font-weight: 400;
}

.places__paragraph:not(:last-child) {
  margin-bottom: 25px;
}

.places__button:hover {
  opacity: 0.75;
}

.places__image:hover {
  opacity: 0.75;
}